.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;

    /* Flexbox styles */
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

.navButton {
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.2s ease;
}

/* Make an HTML button look like a link, for the sign in button */
.accountButton {
    outline: none;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    font-weight: 500;
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .logo:hover {
        color: var(--primary-color);
        text-decoration: none;
    }

    .navButton:hover {
        background-color: var(--secondary-background);
        color: var(--primary-color);
        text-decoration: none;
    }
}