:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #00543c;
  --primary-color-dark: #004633;
  --text-color: #333;
  --text-color-light: #666;
  --background-color: #ffffff;
  --secondary-background: #f5f5f5;
  --secondary-hover: #e0e0e0;

  --green-2: #92ff8dca;

  --max-width: 1100px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 0.8em;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  margin: 0 1em;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  position: absolute;
}

.page {
  margin-top: 6em;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  max-width: var(--max-width);
}

.titleSection {
  text-align: center;
  line-height: 1.6;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5em;
}

.titleSection h1 {
  font-size: 2.5em;
}

.titleSection p {
  font-size: 1.1em;
}

.infoCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.infoCard h2,
.infoCard h3 {
  color: var(--primary-color);
  margin-top: 0em;
  margin-bottom: 0.6em;
}

.infoCard p {
  margin-bottom: 1em;
}

.infoCard a {
  margin-top: auto;
}

.videoWrapper {
  position: relative;
  /* 16:9 aspect ratio */
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--primary-color-dark);
    text-decoration: underline;
  }

  .infoCard:hover {
    transform: translateY(-5px);
  }
}